* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  body{
    background-image:url(none);
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
  }
  #nav-1{
    background-color:#86c0ff;
  }
  #ibskx{
    font-family:Arial, Helvetica, sans-serif;
  }
  #iyy5r{
    text-align:center;
  }
  #i8kev{
    width:auto;
    text-align:center;
    background-color:#ffffff;
  }
  #i5w0y{
    color:#7692f3;
  }
  .panel{
    width:90%;
    max-width:700px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    padding-top:30px;
    padding-right:20px;
    padding-bottom:30px;
    padding-left:20px;
    margin-top:50px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
    box-shadow:0 0 3px 10px 0px;
    color:rgba(255,255,255,0.75);
    font-style:;
    font-variant-ligatures:;
    font-variant-caps:;
    font-variant-numeric:;
    font-variant-east-asian:;
    font-variant-alternates:;
    font-variant-position:;
    font-stretch:;
    font-size:;
    line-height:;
    font-family:;
    font-optical-sizing:;
    font-kerning:;
    font-feature-settings:;
    font-variation-settings:;
    font-weight:100;
    background-color:#900000;
  }
  .welcome{
    text-align:center;
    font-weight:100;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    font-size:38px;
    color:rgba(255,255,255,0.75);
  }
  .logo path{
    pointer-events:none;
    fill:none;
    stroke-linecap:round;
    stroke-width:7;
    stroke:rgb(255, 255, 255);
  }
  .big-title{
    text-align:center;
    font-size:3.5rem;
    margin-top:15px;
    margin-right:0px;
    margin-bottom:15px;
    margin-left:0px;
  }
  .description{
    text-align:center;
    font-size:2rem;
    line-height:2.5rem;
    margin-bottom:1rem;
    color:rgba(255,0,0,0.75);
  }
  #nav-1{
    padding-top:30px;
    padding-right:0px;
    padding-bottom:30px;
    padding-left:0px;
    width:100%;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgba(0, 0, 0, 0.1);
    position:relative;
  }
  #nav-1 .header-inner{
    width:100%;
  }
  #nav-1 .header-inner::after{
    content:" ";
    height:0px;
    display:block;
    visibility:hidden;
    clear:both;
  }
  #nav-1 h1{
    float:left;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
    font-weight:900;
    font-size:28px;
    margin-bottom:0px;
    text-transform:uppercase;
    font-family:Roboto, Arial, sans-serif;
  }
  #nav-1 > a{
    display:inline-block;
    width:138px;
    height:22px;
  }
  #nav-1 img{
    height:22px;
    width:auto;
  }
  #nav-1 nav{
    float:right;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
  }
  #nav-1 nav ul{
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
  }
  #nav-1 nav ul li{
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
    margin-top:0px;
    margin-right:6px;
    margin-bottom:0px;
    margin-left:0px;
    list-style-position:initial;
    list-style-image:initial;
    list-style-type:none;
    display:inline-block;
    zoom:1;
  }
  #nav-1 nav ul li a{
    color:rgba(0, 0, 0, 0.5);
    font-size:16px;
    padding-top:6px;
    padding-right:14px;
    padding-bottom:6px;
    padding-left:14px;
    position:relative;
    transition-behavior:normal;
    transition-duration:0.2s;
    transition-timing-function:ease;
    transition-delay:0s;
    transition-property:all;
  }
  #nav-1 nav ul li a:hover{
    text-decoration-line:none;
    text-decoration-thickness:initial;
    text-decoration-style:initial;
    text-decoration-color:initial;
  }
  #nav-1 nav ul li a.active, #nav-1 nav ul li a:focus{
    outline-color:initial;
    outline-style:none;
    outline-width:initial;
    text-decoration-line:none;
    text-decoration-thickness:initial;
    text-decoration-style:initial;
    text-decoration-color:initial;
    color:white;
    background-image:initial;
    background-position-x:initial;
    background-position-y:initial;
    background-size:initial;
    background-repeat:initial;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
    background-color:rgb(31, 181, 123);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
  }
  .custom-logo{
    color:#0056b3;
  }
  .fdb-block{
    font-family:Roboto, sans-serif;
    font-size:16px;
    line-height:1.5;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizelegibility;
    padding-top:100px;
    padding-right:0px;
    padding-bottom:100px;
    padding-left:0px;
    color:rgb(68, 68, 68);
    position:relative;
    background-size:cover;
    background-position-x:center;
    background-position-y:center;
    overflow-x:hidden;
    overflow-y:hidden;
    background-color:rgb(255, 255, 255);
  }
  .text-center{
    text-align:center;
  }
  .fdb-block h1{
    font-size:2.75rem;
    margin-bottom:0.5em;
    margin-top:0.3em;
    font-weight:400;
  }
  .fdb-block .text-h3, .fdb-block h3{
    font-size:1.125rem;
    margin-bottom:0.5em;
    margin-top:0.3em;
    font-weight:400;
  }
  a{
    color:rgb(0, 123, 255);
    text-decoration-line:none;
    text-decoration-thickness:initial;
    text-decoration-style:initial;
    text-decoration-color:initial;
    background-color:transparent;
  }
  .fdb-block .text-h2, .fdb-block h2{
    font-size:2rem;
    margin-bottom:0.5em;
    margin-top:0.3em;
    font-weight:400;
  }
  .c4198{
    width:auto;
    background-color:#ffffff;
    text-align:center;
  }
  .col.text-left{
    background-color:#94e3ff;
  }
  .align-items-center{
    align-items:center;
  }
  .img-fluid{
    max-width:100%;
    height:auto;
  }
  .fdb-block img{
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
  }
  .fdb-block img + h1, .fdb-block img + h2{
    margin-top:40px;
  }
  .fdb-block .text-h1, .fdb-block h1{
    font-size:2.75rem;
    margin-bottom:0.5em;
    margin-top:0.3em;
    font-weight:400;
  }
  .fdb-block img.fdb-icon{
    width:60px;
  }
  .mt-4{
    margin-top:1.5rem !important;
  }
  .ml-auto{
    margin-left:auto !important;
  }
  